.wrapper {
  display: flex;
  width: 80%;
  margin-left: 11rem;
}
.w25 {
  padding: 2rem;
  width: 25%;
  height: fit-content;
  border-radius: 25px;
  background-color: #ee7b3a;
}

.w75 {
  padding: 2rem;
  width: 75%;
  border-radius: 25px;
  background-color: #fff;
}

.w25-heading {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.w75-heading {
  font-size: 1.4rem;
  color: #3c3c3c;
  margin-bottom: 1rem;
}

.w25-content {
  padding-left: 1.3rem;
  color: #fff;
  font-size: 1.2rem;
}

.w25-content li {
  padding: 0.2rem;
  margin: 0.2rem;
  font-weight: bold;
  list-style-type: square;
}

.w25-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w25-button button {
  font-size: 1.2rem;
  padding: 0.4rem;
  background-color: white;
  color: #ee7b3a;
  font-weight: bold;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.w75-content {
  color: #3c3c3c;
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
}

.w75-list {
  margin-left: 2rem;
}

.w25-content li:hover {
  color: #3c3c3c;
}

.w25-button button:hover {
  box-shadow: 1.5px 2.5px #3c3c3c;
  background-color: #ee7b3a;
  color: #fff;
}
